@media(max-width:768px){
    /* Hero section */
    .hero-section{
        padding: 38px 0 68px 0;
    }
    .hero-section-container{
        max-width: 432.4606018066406px;
    }
    .hero-section-container-top{
        flex-direction: column;
        gap: 0;
        padding: 29px 45px 36px 45px;
        align-items: center;
    }
    .hero-section-container-top-content-tittle{
        text-align: center;
        font-size: 24px;
        line-height: 27px;
    }
    .hero-section-container-top-content-text{
        font-size: 16px;
        line-height: 25px;
        margin-top: 10px;
        text-align: center;
    }
    .hero-section-container-top-content-bottom-button{
        padding: 10px 10px 0 0;
    }
    .hero-section-container-top-content-bottom-button-explore{
        width: 175px;
        height: 53px;
        border-radius: 24px 12px 24px 45px;
        font-size: 18px;
    }
    /* Đề xuất */
    .recommend-container-selects{
        flex-wrap: wrap;
    }

    /* Phần hướng dẫn */
    .guide{
        padding: 40px 0;
    }
    .guide-content{
        max-width: 471px;
    }
    .guide-content-tittle{
        font-size: 24px;
        line-height: 27px;
        padding: 0;
    }
    .guide-content-text{
        font-size: 16px;
        line-height: 21px;
    }
    .guide-content-container{
        margin-top: 23px;
    }
    .guide-content-container-box{
        max-width: 224px;
        gap: 0;
    }
    .guide-content-container-box-img{
        max-width: 224px;
        height: 214px;
    }
    .guide-content-container-box-tittle{
        font-size: 16px;
        line-height: 35px;
    }
    .guide-content-container-box-text{
        font-size: 14px;
        line-height: 17px;
        margin-top: 0;
    }

    /* home-page */
    .page-container-select .active {
        background-color: #FFC46A82;
        box-shadow: 0px 4px 16.5px 1px #00000040;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        transition: all 0.5s ease;
}
.page-container-select-button {
    width: 100%;
    border: 0;
    background-color: transparent;
    font-family: 'Be Vietnam Pro';
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #13460D;
    cursor: pointer;
     transition: all 0.5s ease;
}
.start {
    width: 35px;
    height: 35px;
    object-fit: cover;
 }
 .page-container-infor-button {
    width: 100%;
    max-width: 210px;
    min-height: 76px;
    border-radius: 10px;
    background-color: #13460D;
    text-decoration: none;
    font-weight: 800;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-container-menu-list h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 100%;
    color: #000000;
    display: inline-block;
    margin: 0 0 10px;
}
.page-container-desc {
    width: 100%;
    padding: 40px 20px 30px;
    background-color: #FFC46A57;
    border-top: 0;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
.page-container-desc p {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 2px;
    color: #000000;
}
.page-container-menu-list li {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.page-container-infor {
    width: 100%;
    padding: 40px 20px 30px;
    background-color: #FFC46A57;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #13460d;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    border-top: 0;
}
.page-container-infor-tittle {
    font-weight: 800;
    font-size: 28px;
    line-height: 100%;
    vertical-align: middle;
    color: #000000;
    line-height: 150%;
}
.page-container-infor-dddress {
    font-weight: 800;
    font-size: 28px;
    line-height: 100%;
    vertical-align: middle;
    color: #000000;
    line-height: 150%;
}


    /* Footer */
    .footer-container{
        max-width: 315px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
}


/* FEEDBACK */
@media only screen and (max-width: 930px) {
    :root {
        --card-width: 400px;
        --card-height: 200px;
        --gap-x: 100px; 
        --gap-z: 150px; 
        --bg-color: #FEF7E6;
}
    .main-title {
        font-family: 'Be Vietnam Pro';
        font-weight: 700;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        width: 100%;
        height: auto;
}
    .carousel-item.center {
        transform: translateX(0) translateZ(0) scale(1.05);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        z-index: 3;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
}
    .avt-feedback {
        width: 60px;
        height: 60px;
        font-weight: 600;
}
    .right-box-feedback {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
}
    .mini-title-feedback {
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
}
    .mini-text-feedback {
        font-family: 'Be Vietnam Pro';
        font-weight: 300;
        font-size: 16px;
}
    .box-bottom-feedback {
        width: 90%;
        height: auto;
        font-family: 'Be Vietnam Pro';
        font-weight: 400;
        font-size: 16px;
}
}

@media only screen and (max-width: 768px) {
    :root {
        --card-width: 400px;
        --card-height: 200px;
        --gap-x: 0; 
        --gap-z: 0; 
        --bg-color: #FEF7E6;
}
    .main-title {
        font-family: 'Be Vietnam Pro';
        font-weight: 700;
        font-size: 38px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        width: 100%;
        height: auto;
}
    .carousel-item.center {
        transform: translateX(0) translateZ(0) scale(1.05);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        z-index: 3;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
}
    .avt-feedback {
        width: 60px;
        height: 60px;
        font-weight: 600;
}
    .right-box-feedback {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
}
    .mini-title-feedback {
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
}
    .mini-text-feedback {
        font-family: 'Be Vietnam Pro';
        font-weight: 300;
        font-size: 16px;
}
    .box-bottom-feedback {
        width: 90%;
        height: auto;
        font-family: 'Be Vietnam Pro';
        font-weight: 400;
        font-size: 16px;
}
    .carousel-display {
    width: var(--card-width);
    height: var(--card-height);
    perspective: 1220px; 
    position: relative;
    margin: 0 5%;
}
}
@media only screen and (max-width:630px) {
    :root {
        --card-width: 350px;
        --card-height: 200px;
        --gap-x: 0; 
        --gap-z: 0; 
        --bg-color: #FEF7E6;
}
    .main-title {
        font-family: 'Be Vietnam Pro';
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        width: 100%;
        height: auto;
}
    .carousel-item.center {
        transform: translateX(0) translateZ(0) scale(1.05);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        z-index: 3;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
}
    .avt-feedback {
        width: 60px;
        height: 60px;
        font-weight: 600;
}
    .right-box-feedback {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
}
    .mini-title-feedback {
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
}
    .mini-text-feedback {
        font-family: 'Be Vietnam Pro';
        font-weight: 300;
        font-size: 16px;
}
    .box-bottom-feedback {
        width: 90%;
        height: auto;
        font-family: 'Be Vietnam Pro';
        font-weight: 400;
        font-size: 16px;
}
    .carousel-display {
    width: var(--card-width);
    height: var(--card-height);
    perspective: 1220px; 
    position: relative;
    margin: 0 5%;
}
}
@media only screen and (max-width:630px) {
    :root {
        --card-width: 330px;
        --card-height: 220px;
        --gap-x: 0; 
        --gap-z: 0; 
        --bg-color: #FEF7E6;
}
    .main-title {
        font-family: 'Be Vietnam Pro';
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        width: 100%;
        height: auto;
}
    .carousel-item.center {
        transform: translateX(0) translateZ(0) scale(1.05);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        z-index: 3;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
}
    .avt-feedback {
        width: 55px;
        height: 55px;
        font-weight: 600;
}
    .right-box-feedback {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
}
    .mini-title-feedback {
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
}
    .mini-text-feedback {
        font-family: 'Be Vietnam Pro';
        font-weight: 300;
        font-size: 16px;
}
    .box-bottom-feedback {
        width: 90%;
        height: auto;
        font-family: 'Be Vietnam Pro';
        font-weight: 400;
        font-size: 16px;
}
    .carousel-display {
        width: var(--card-width);
        height: var(--card-height);
        perspective: 1220px; 
        position: relative;
        margin: 0 5%;
}
    .mini-title-feedback {
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Be Vietnam Pro';
}
    .mini-text-feedback {
        font-family: 'Be Vietnam Pro';
        font-weight: 300;
        font-size: 16px;
}
    .box-bottom-feedback {
        width: 90%;
        height: auto;
        font-family: 'Be Vietnam Pro';
        font-weight: 400;
        font-size: 14px;
}
    .nav-btn {
        z-index: 10; 
        background: white;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 20px;
        color: #333;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
}
}

@media only screen and (max-width: 568px) {
    :root {
        --card-width: 300px;
        --card-height: 220px;
        --gap-x: 0; 
        --gap-z: 0; 
        --bg-color: #FEF7E6;
}
    .main-title {
        font-family: 'Be Vietnam Pro';
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        width: 100%;
        height: auto;
}
    .carousel-item.center {
        transform: translateX(0) translateZ(0) scale(1.05);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        z-index: 3;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
}
    .avt-feedback {
        width: 55px;
        height: 55px;
        font-weight: 600;
}
    .right-box-feedback {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
}
    .mini-title-feedback {
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
}
    .mini-text-feedback {
        font-family: 'Be Vietnam Pro';
        font-weight: 300;
        font-size: 16px;
}
    .box-bottom-feedback {
        width: 90%;
        height: auto;
        font-family: 'Be Vietnam Pro';
        font-weight: 400;
        font-size: 16px;
}
    .carousel-display {
        width: var(--card-width);
        height: var(--card-height);
        perspective: 1220px; 
        position: relative;
        margin: 0 5%;
}
    .mini-title-feedback {
        width: 100%;
        height: auto;
        font-weight: 700;
        font-size: 16px;
        font-family: 'Be Vietnam Pro';
}
    .mini-text-feedback {
        font-family: 'Be Vietnam Pro';
        font-weight: 300;
        font-size: 14px;
}
    .box-bottom-feedback {
        width: 90%;
        height: auto;
        font-family: 'Be Vietnam Pro';
        font-weight: 400;
        font-size: 13px;
}
}

@media only screen and (max-width: 450px) {
    .page1-container-top-content-img {
    width: 100%;
    max-width: 369.3966369628906px;
    height: 170.49075317382812px;
    border-radius: 25px;
    display: none;
}
.page-container-infor-tittle {
        font-weight: 800;
        font-size: 20px;
        color: #000000;
        line-height: 150%;
    }
    .page-container-infor-tittle span {
    font-weight: 100;
    font-size: 17px;
}
    .page-container-infor-dddress {
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        vertical-align: middle;
        color: #000000;
        line-height: 150%;
    }
    .page-container-infor-dddress span {
    font-weight: 100;
    font-size: 17px;
}
.page-container-infor-rates-text {
    font-weight: 100;
    font-size: 17px;
    line-height: 100%;
    color: #000000;
}
.start {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
    .page-container-infor-button {
        width: 100%;
        /* max-width: 210px; */
        min-height: 70px;
        border-radius: 10px;
        background-color: #13460D;
        text-decoration: none;
        font-weight: 800;
        font-size: 22px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
