@media(max-width:1024px){
    /* Header */
    .header-list{
        display: inline-block;
    }
    .header-menu{
        display: none;
    }
    .header-lan-button{
        display: none;
    }

    /* Hero section */
    .hero-section{
        padding: 91px 0 82px 0;
    }
    .hero-section-container{
        max-width: 795px;
    }
    .hero-section-container-top{
        flex-direction: column;
        gap: 21px;
        padding: 85px 72px 0 72px;
        align-items: center;
    }
    .hero-section-container-top-content{
        max-width: fit-content;
        padding: 0;
    }
    .hero-section-container-top-content-tittle{
        text-align: center;
    }
    .hero-section-container-top-img{
        max-width: 398px;
    }
    .hero-section-container-top-content-bottom-button{
        padding: 15px 10px 0 0;
    }
    .hero-section-container-top-content-bottom-button-explore{
        width: 267px;
        height: 106px;
        font-size: 26px;
    }

    /* Phần hướng dẫn */
    .guide{
        padding: 29px 0 68px 0;
    }
    .guide-content{
        max-width: 830px;
    }
    .guide-content-tittle{
        line-height: 46px;
        padding: 0 30px;
    }
    .guide-content-text{
        margin-top: 10px;
    }
    .guide-content-container{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
    }
    .guide-box2 .guide-content-container-box-tittle{
        order: 2;
    }
    .guide-box2 .guide-content-container-box-text{
        order: 3;
    }
    .guide-box2 .guide-content-container-box-img{
        order: 1;
    }

    /* Footer */
    .footer-container{
        max-width: 781px;
    }
    .footer-container-menu-mobile{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .footer-container-menu-mobile-text{
        font-size: 20px;
        color: #FFC46A;
        text-decoration: none;
    }
    .footer-container-menu-mobile-text-select{
        font-weight: 800;
    }
    .footer-container-menu-mobile-text-none{
        font-weight: 400;
    }
    .footer-container-menu{
        display: none;
    }
    .footer-container-support{
        display: none;
    }
    .footer-container-contact-text{
        display: none;
    }
    .footer-container-contact-container{
        width: 100%;
        max-width: 110px;
        flex-wrap: wrap;
    }







}